<div class="moment" *ngIf="moment">
  <h2>{{ moment.title }}</h2>
  <img
    src="{{ baseApiUrl }}uploads/{{ moment.image }}"
    alt="{{ moment.title }}"
  />
  <div class="about-moment">
    <h3>Sobre este momento:</h3>
    <p>{{ moment.description }}</p>
  </div>

  <div class="actions">
    <h3>Ações:</h3>
    <button class="btn btn-outline-secondary edit me-3">
      <a routerLink="/moments/edit/{{ moment.id }}"
        >Editar <fa-icon [icon]="faEdit" class="ms-1 faEdit"></fa-icon
      ></a>
    </button>

    <button
      class="btn btn-outline-warning remove"
      (click)="removeHandler(moment.id!)"
    >
      Excluir
      <fa-icon [icon]="faTimes" class="ms-1 faTimes"></fa-icon>
    </button>
  </div>

  <div class="comments col-12 mt-3 align-self-start">
    <h3 class="title">
      Comentários ({{
        moment.comments!.length > 0 ? moment.comments!.length : 0
      }})
    </h3>
    <div *ngIf="moment.comments!.length > 0; else noComments">
      <div class="comment-container" *ngFor="let comment of moment.comments">
        <p class="comment-text">{{ comment.text }}</p>
        <p class="author"><span>criado por: </span>{{ comment.username }}</p>
       
      </div>
    </div>
    <ng-template #noComments>
      <p>Não há comentários para este momento.</p>
    </ng-template>
  </div>

  <div class="comment-form col-12">
    <h3 class="subtitle">Deixe um comentário:</h3>
    <form
      class="was-validated"
      [formGroup]="commentForm"
      #formDir="ngForm"
      (ngSubmit)="onSubmit(formDir)"
    >
      <div class="form-group was-validation">
        <label for="text">Comentário:</label>
        <textarea
          formControlName="text"
          class="form-control mt-3 is-invalid"
          placeholder="Deixe um comentário"
          id="floatingTextarea"
          required
        ></textarea>
        <div class="invalid-feedback" *ngIf="text.invalid && formDir.submitted">
          <p *ngIf="text.errors?.['required']">O texto é obrigatório</p>
        </div>
      </div>
      <div class="form-group mt-3">
        <label class="mb-3 is-invalid" for="username">Nome:</label>
        <br />
        <input
          formControlName="username"
          class="form-control"
          type="text"
          placeholder="Digite o seu nome"
          required
        />
        <div
          class="invalid-feedback"
          *ngIf="username.invalid && formDir.submitted"
        >
          <p *ngIf="username.errors?.['required']">O nome é obrigatório</p>
        </div>
      </div>
      <button class="btn btn-secondary me-3" routerLink="/">Voltar</button>
      <button class="btn btn-warning mt-4 mb-4" type="submit">Comentar</button>
    </form>
  </div>
</div>
