.moment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

img {
  max-width: 500px;
  margin-bottom: 0 auto 1em;
}

.about-moment,
.actions {
  border-bottom: 1px solid #ccc;
  padding: 1.2em;
  width: 100%;
}

.actions {
  background-color: #eee;
  padding-bottom: 50px;
}

.actions {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.faEdit {
  filter: brightness(10%) sepia(10) hue-rotate(180deg) saturate(10);
}

.faEdit:hover {
  filter: brightness(10000%) sepia(0) hue-rotate(10deg) saturate(1000);
}

.faTimes {
  filter: brightness(50) sepia(1) hue-rotate(-60deg) saturate(100);
}

.faTimes:hover {
  filter: brightness(10000%) sepia(0) hue-rotate(10deg) saturate(1000);
}

.remove:hover {
  color: #fff;
}

/*Comentarios*/

.title {
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: left;
 }

.comment-text {
  text-align: left;
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #e0e0dd 1px solid;
}

.author {
  text-align: left;
  font-size: 0.9rem;
}

span {
  font-weight: bold;
  font-size: 0.8rem;
}

.subtitle {
  border-top: #e0e0dd 1px solid;
  margin-top: 1.5rem;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}


