.moment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

h3 {
  font-weight: 500;
}

img {
  max-width: 400px;
  margin-bottom: 0 auto 1em;
}

.about-moment,
.actions {
  border-bottom: 1px solid #ccc;
  padding: 1.2em;
  width: 100%;
}

.actions {
  background-color: #eee;
  padding-bottom: 50px;
}

.comments {
  text-align: left;
}

span {
  font-weight: bold;
}

.actions {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}


.faEdit {
  filter: brightness(10%) sepia(10) hue-rotate(180deg) saturate(10);
}

.faEdit:hover {
  filter: brightness(10000%) sepia(0) hue-rotate(10deg) saturate(1000);
}

.faTimes {
  filter: brightness(50) sepia(1) hue-rotate(-60deg) saturate(100);
}

.faTimes:hover {
  filter: brightness(10000%) sepia(0) hue-rotate(10deg) saturate(1000);
}

.remove:hover {
  color: #fff;
}

/*Comentarios*/
.moment-container {
  text-align: left;
}
