.header {
  background-color: #ffffff;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #444;
  transition: 0.5s;
}

.link.moments {
  font-weight: 500;
  font-size: 1.2rem;
  transition: 0.5s;
}

.logo-moments {
  width: 2rem;
}

.nav-item {
  font-weight: 200;
  transition: 0.2s;
}

.nav-item:hover {
  font-weight: 400;
  color: #dec129;
}

@media (max-width: 560px) {
  .link,
  .btn-home,
  .brand {
    display: none;
  }
  .logo-moments {
    display: none;
  }
}

@media (min-width: 550px) {
  .navbar-toggler {
    display: none;
  }
}
