.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.moments-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.title {
  font-weight: 400;
}

span {
  color: #dec129;
}

.moment {
  width: 32%;
  margin-bottom: 3%;
  text-align: center;
}

.moment img {
  max-width: 90%;
  margin-bottom: 0.5rem;
}

.moment h1,
.moment p {
  margin-bottom: 1em;
}

.link {
  font-size: 0.9rem;
}

.moment .date {
  font-size: 0.9em;
  font-style: italic;
}

a {
  padding: 0.3em 0.6em;
  background-color: #efefef;
  border-radius: 7px;
}

a:hover {
  background-color: #e2e2e2;
  border-radius: 7px;
}

input {
  max-width: 60%;
}
