<div class="home-container mt-4">
  <h1 class="title mb-4">Compartilhe os seus <span>Momentos</span>🥂</h1>

  <div class="input-group mb-4 d-flex justify-content-center">
    <span class="input-group-text" id="fa-icon">
      <fa-icon [icon]="faSearch"></fa-icon>
    </span>
    <input type="text" class="form-control" placeholder="Ou busque por um momento..." (input)="search($event)">
  </div>

  <div class="moments-container" *ngIf="moments.length > 0 ; else noMoments">
    <div class="moment" *ngFor="let moment of moments">
      <img src="{{ baseApiUrl }}uploads/{{ moment.image }}" alt="{{ moment.title  }}" />
      <h3> {{ moment.title }} </h3>
      <p class="date">Em: {{ moment.created_at }}</p>
      <p class="comments">Comentários: {{ moment.comments!.length }}</p>
      <p><a class="link" routerLink="moments/{{ moment.id }}">Detalhes</a>
      </p>
    </div>
  </div>

  <button routerLink="moments/new" class="btn btn-warning mb-4">Compartilhar</button>

  <ng-template #noMoments>
    <h2>Não existem momentos cadastrados.</h2>
  </ng-template>

</div>